{% extends 'blank.html' %}

{% block content %}
{% load static %}
{% include "navbar.html" %}
<div class="wrapper">
    <form action="/change_password" method="POST">
        {% csrf_token %}
        <p>
            <input readonly type="text" value="{{user.username}}">
        </p>
        <p>
            <input readonly type="text" value="{{user.email}}">
        </p>
        <p>
            <input id="password" name="password" type="text" value="{{user.password}}">
            <!-- <button class="editBtn">Редактировать</button> -->
        </p>
            <button type="submit">Сохранить</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- <script>

        $('.editBtn').click(e => {
            $('#editInp').attr('readonly', false)
        })
        
    </script> -->
</div>
{% endblock %}