<div class="forgot-password wf-section">
    <div class="forgot-password__heading">
        <img src="{% static 'images/logo_webconverter.png' %}" width="40" height="35" alt />
        <h1 class="forgot-password__head-name">WEB-converter</h1>
    </div>
    <div class="forgot-password__content">
        <div class="forgot-password__form">
            <h3 class="h3">Восстановление пароля</h3>
            <div class="w-form">
                <form id="email-form" name="email-form" data-name="Email Form" method="post" class="form-2">
                    {% csrf_token %} {{ form.as_p }}
                </form>
            </div>
        </div>
        <div class="forgot-password__footer">
            <div class="forgot-password__help">
                <p>
                    Уже зарегистрированы?
                    <a href="#" class="registration__link">Войти в систему</a>
                </p>
            </div>
        </div>
    </div>
</div>
